[user]
    name = 11w5
    email = sloan@wombleco.com

[init]
    defaultBranch = main

[color]
    ui = auto

[core]
    editor = nvim
    pager = less -R
    excludesfile = ~/.gitignore_global

[pull]
    rebase = false

[merge]
    conflictstyle = zdiff3

[push]
    default = current
